<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		
		table {
    border-collapse: collapse;

    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-color: transparent;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

	</style>
	
</head>
<body>

	<button type="button" onclick="location.href = ''">Generar pdf!</button>
	<h1><center>Reporte de Cotizacion</center></h1>
	<table border="1" align="center">
	<tr align="center">
	<th>Cliente</th>
	<th>Producto</th>
	<th>nombre</th>
	<th>Apellido</th>
	<th>telefono</th>
	<th>nit</th>
	<th>direccion</th>
	
	</tr>
	
	{% for i in object_list %}
	<tr align="center">
		<td>{{i.cliente}}</td>
		<td>{{i.producto}}</td>
		<td>{{i.nombre}}</td>
		<td>{{i.cantidad}}</td>
		<td>{{i.detalle}}</td>
		<td>{{i.descuento}}</td>
		<td>{{i.fecha_cotizacion}}</td>
		
		
				
	</tr>
	{% endfor %}
	</table>

	
</body>
</html>