html,
body,
header,
#intro {
    height: 120%;
}

#intro {
    background: url("https://fotos.subefotos.com/961fbf495899e3eb8cef1c93e62196f0o.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}