{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>San Luis Rey de Francia</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{%  static  'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{%  static  'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{%  static  'css/style.css' %}" rel="stylesheet">
</head>

<body>

	<!--Main Navigation-->
	<header>
		<!-- <div class="view overlay z-depth-1-half">
		  <img src="img/iglesia.jpg" class="card-img-top" alt="">
		</div> -->
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark # 1c2a48 mdb-color darken-3 fixed-top">

			  <!-- Additional container -->
			  <div class="container">

				  <!-- Navbar brand -->
				  <a class="navbar-brand" href="#">San Luis Rey de Francia</a>

				  <!-- Collapse button -->
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
				      aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				  </button>

				  <!-- Collapsible content -->
				  <div class="collapse navbar-collapse" id="basicExampleNav">

				      <!-- Links -->
				      <ul class="navbar-nav mr-auto">
				          <li class="nav-item active">
				              <a class="nav-link" href="#">Inicio
				                  <span class="sr-only">(current)</span>
				              </a>
				          </li>
				          <li class="nav-item">
				              <a class="nav-link" href="#">Misas</a>
				          </li>
				          <li class="nav-item">
				              <a class="nav-link" href="#">Transmisión en Vivo</a>
				          </li>
				          <li class="nav-item">
				              <a class="nav-link" href="/admin">Contacto</a>
				          </li>

				          <!-- Dropdown -->
				          <li class="nav-item dropdown">
				              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sistema</a>
				              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
				                  <a class="nav-link black-text" href="/admin">Iniciar Sesion</a>
				              </div>
				          </li>

				      </ul>
				      <!-- Links -->
				  </div>
				  <!-- Collapsible content -->
			  </div>
			  <!-- Additional container -->
		</nav>
		<!--/.Navbar-->
	<!--Mask-->

		<div class="view">
		  <img src="https://fotos.subefotos.com/961fbf495899e3eb8cef1c93e62196f0o.jpg" class="img-fluid" alt="placeholder">
		  <div class="mask pattern-1 flex-center waves-effect waves-light"></div>
		</div>
		<div id="intro" class="view">

		        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

		            <div class="row d-flex justify-content-center text-center">

		                <div class="col-md-10">

		                    <!-- Heading -->
		                    <h2 class="display-4 font-weight-bold black-text pt-5 mb-2">San Luis Jilotepeque</h2>

		                    <!-- Divider -->
		                    <hr class="hr-light">


		                    <!-- Description -->
		                    <h4 class="black-text my-4">San Luis Jilotepeque deriva su nombre de San Luis, Rey de Francia, un Santo de la Orden Franciscana reconocido por su anhelo por la Paz y la Justicia, y Xilotepeque, vocablo náhuatle que significa “tierra de maíz tierno”.</h4>
		                    <button type="button" class="btn btn-outline-black">Leer Mas<i class="fa fa-book ml-2"></i></button>

		                </div>
		                

		            </div>

		</div>
		<!--/.Mask-->
	</header>
	<!--Main Navigation-->

	<!--Main layout-->
	<main>	
		<!--Main container-->
		<div class="container">
		    <!--Grid row-->
		    <div class="row">
		        <!--Grid column-->
		        <div class="col-md-7">

		        </div>
		        <!--Grid column-->
		        <!--Grid column-->
		        <div class="col-md-5">

		        </div>
		        <!--Grid column-->
		    </div>
		    <!--Grid row-->
		    <!--Grid row-->
		    <div class="row">
		        <!--Grid column-->
		        <div class="col-lg-4 col-md-12">

		        </div>
		        <!--Grid column-->
		        <!--Grid column-->
		        <div class="col-lg-4 col-md-6">

		        </div>
		        <!--Grid column-->
		        <!--Grid column-->
		        <div class="col-lg-4 col-md-6">

		        </div>
		        <!--Grid column-->
		    </div>
		    <!--Grid row-->
		</div>
		<!--Main container-->

	</main>
	<!--Main layout-->
  <!-- Start your project here-->
  <div style="height: 30vh">
    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-4 white-text">Parrouia San Luis Rey de Francia</h1>
      <h5 class="animated fadeIn mb-3 white-text">San Luis Jilotepeque, Jalapa</h5>
      <p class="animated fadeIn text-muted white-text">Proyecto de Graduación</p>
    </div>
  </div>
  <!-- /Start your project here-->
	<footer class="page-footer font-small # 1c2a48 mdb-color darken-3 pt-4 mt-4">

	  <!-- Footer Links -->
	  <div class="container text-center text-md-left">

	    <!-- Grid row -->
	    <div class="row">

	      <!-- Grid column -->
	      <div class="col-md-6 mt-md-0 mt-3">


	        <!-- Content -->
	        <h5 class="text-uppercase">Footer Content</h5>
	        <p>Here you can use rows and columns here to organize your footer content.</p>

	      </div>
	      <!-- Grid column -->

	      <hr class="clearfix w-100 d-md-none pb-3">

	      <!-- Grid column -->
	      <div class="col-md-3 mb-md-0 mb-3">

	          <!-- Links -->
	          <h5 class="text-uppercase">Links</h5>

	          <ul class="list-unstyled">
	            <li>
	              <a href="#!">Link 1</a>
	            </li>
	            <li>
	              <a href="#!">Link 2</a>
	            </li>
	            <li>
	              <a href="#!">Link 3</a>
	            </li>
	            <li>
	              <a href="#!">Link 4</a>
	            </li>
	          </ul>

	        </div>
	        <!-- Grid column -->

	        <!-- Grid column -->
	        <div class="col-md-3 mb-md-0 mb-3">

	          <!-- Links -->
	          <h5 class="text-uppercase">Links</h5>

	          <ul class="list-unstyled">
	            <li>
	              <a href="#!">Link 1</a>
	            </li>
	            <li>
	              <a href="#!">Link 2</a>
	            </li>
	            <li>
	              <a href="#!">Link 3</a>
	            </li>
	            <li>
	              <a href="#!">Link 4</a>
	            </li>
	          </ul>

	        </div>
	        <!-- Grid column -->

	    </div>
	    <!-- Grid row -->

	  </div>
	  <!-- Footer Links -->

		<div class="container">
		<!--Grid row-->
	        <div class="row py-4 d-flex align-items-center">
		        <div class="col-md-6 col-lg-5 text-center text-md-right mb-4 mb-md-0">
		             <h6 class="mb-0 white-text">Contactenos en nuestra Red Social</h6>
		        </div>
	        	<!--Grid column-->
		        <div class="col-md-6 col-lg-7 text-center text-md-center">
		            <!--Facebook-->
		            <a class="fb-ic ml-0">
		                <i class="fa fa-facebook white-text mr-4"> </i>
		            </a>
		        </div>
		    </div>
	    </div>    
	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2018 Copyright: Equipo Yaque</div>
	  <!-- Copyright -->

	</footer>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{%  static  'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{%  static  'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{%  static  'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{%  static  'js/mdb.min.js' %}"></script>
</body>

</html>
